# Logging files
logs/
*.log

# Dataset files (potentially large)
data/

# Model weights (potentially large)
weights/

# Virtual Environment directories
venv/
ENV/
env/

# Python compilation artifacts
*.pyc
__pycache__/

# Jupyter Notebook temporary files
.ipynb_checkpoints/
